# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "48d42da3c21b03045ccadaf480a58cf8"
name = "Random product generator"
application_url = "https://random-product-generator-2475.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
    "https://random-product-generator-2475.onrender.com/auth/callback",
    "https://random-product-generator-2475.onrender.com/auth/shopify/callback",
    "https://random-product-generator-2475.onrender.com/api/auth/callback"
]
